
$primary:#da8c34;
$fontPrimary:  'Kanit', sans-serif;
$fontSecondary:'Source Sans Pro', sans-serif;



@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2? family=Kanit:ital,wght@0,200;0,300;0,500;0,700;1,200;1,300;1,500;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,900;1,200;1,400&display=swap');




/* Color Theme Swatches in Hex */
.Tractor-agrícola-1-hex { color: #58788C; }
.Tractor-agrícola-2-hex { color: #A0A603; }
.Tractor-agrícola-3-hex { color: #D9BD6A; }
.Tractor-agrícola-4-hex { color: #D9AB73; }
.Tractor-agrícola-5-hex { color: #F2594B; }

*{
    padding:0px;
    margin:0px;
    font-family: $fontPrimary;
}
li, a{
    text-decoration:none;
    list-style:none;
}

body { 
    background-color: white;
}

header{
    position: fixed;
    top:0;
    z-index: 1000;
    width: 100%;
    display:flex;
    justify-content: space-between;
    background-color: #da8c34;
    height: 90px;
    color:#3d3c3c;
    .menu-mobil{
        transition: all 0.5s ease;
        left:-500px;
        &.active{
            left: 0;
        }
        position: absolute;
        top:16vh;
        background-color:rgb(233, 233, 233);
        border-radius: 0px 5px 5px 0px;
        width: 250px;
        ul{
            width: 100%;
            padding: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;

            li{
                margin:5px;
                
            }
            hr{
                height:1px;
                width: 90%;
                margin: 0;
                padding: 0;
            }
        }
        
        a{
            font-size: 1.3rem;
            color: black;
            font-family: $fontSecondary;
            transition: all 0.5s ease;
            &:hover{
                border-bottom: 1px solid gray;
                color: rgb(63, 63, 63);
            }
        }
    }
    .col-izq{
        margin:5px;
        display: flex;
        align-items: center;
        border-right: 1px solid #3d3c3c;
        justify-content: flex-start;
        width: 80%;
        img{
            //width: 20%;
            max-height:100%;
        }

        h1{

            font-weight: 900;
            font-family: $fontPrimary;
            font-style: italic;
        }
    }
    .col-der{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width:20%;
        padding:0.2rem;
        font-size: 3rem;
        i{
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                border: 1px solid rgb(92, 92, 92);
                border-radius: 10px;
                background-color:#03030327;
            }

        }
    }
}

main{
    margin-top:90px;
    .main-banner{
        //border-bottom: 1px solid #ccc;
        #carouselExampleInterval{
            
            .carousel-inner{
                .carousel-item{
                    img{
                        height: 190px;
                    }
                }
            }
        }
    }

    .somos{
        margin-top:30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .col-izq{
            h2{
                font-family: $fontPrimary;
                font-size:1.7rem;
                font-style: italic;
            
            }
            margin-bottom:10px;
            border-bottom: 1px solid #ccc;
        }
        .col-der{
            margin-top:10px;
            padding: 5px;
            p{
                margin:0 10px;
                font-family: $fontSecondary;
                font-style: italic;
                text-align: justify;
                
            }
        }
    }

    .productos{
        margin-top:30px;
        padding-top: 30px;
        background-color: #e9e7e7;
        h2{
            margin: 20px;
            font-size:2rem;
        }
        .container{
            display:flex;
            padding: 10px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            .card{
                transition: all 0.3s ease;
                margin:15px;
                height: 500px;
                img{
                    height:286px;
                }
                &:hover{
                    box-shadow: 0px 19px 11px 4px rgba(148,148,148,0.39);
                }
                .card-text{
                    font-family:$fontSecondary;
                    text-align: justify;
                }
            }
        }
    }

    .contact{

        padding-top:30px;
        display:flex;
        flex-direction: column;
        align-items: center;
        h2{
            display: inline;
            padding-bottom: 10px;
            font-size:2rem;
            border-bottom: 1px solid #ccc;

        }
        div div{
            margin-top:30px;
            p{
                font-family: $fontSecondary;
                font-size:1.2rem;
            }
            
        }

    }
}